body{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rebeccapurple;
 }
 /* FILTRAR POR LISTA */
 #divLista{
    height: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightblue;
 }
 #lista{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 /* CHECKBOXES */
 .rowCbx {
    display: flex;
    flex-wrap: wrap;
    margin: 5px; 
    width: 25%;
 }
 .colCbx {
    flex: 1;
    padding: 15px; 
    box-sizing: border-box; 
    background-color: #f2f2f2;
 }
 
 /* TABLA EMPLEADOS */
 #divTabla{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:  left;
    flex-wrap: wrap;
 }
 table {
    border: 1px solid #999;
    text-align: center;
    border-collapse: collapse;
 }
 
  th, td {
     border-bottom: 1px solid #999;
     width: 15%;
     padding: 0.3em;
  }
  th{
     background-color: aquamarine;
  }
  td{
     background-color: chocolate;
  }
 
 
 
  
 
  .formABM{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    margin: 5px;
 }
 
 #altMax, #autonomia, #cantPue, #cantRue{
   visibility: hidden;
 }
 